

@import "../../bower_components/reveal.js/css/reveal";
// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/settings";
@import "../../bower_components/reveal.js/css/theme/template/mixins";

@import "../../bower_components/reveal.js/css/theme/source/simple";

// ---------------------------------------------
//@import "../.settings";
@import "../../bower_components/reveal.js/css/theme/template/theme";

.reveal {
  h1 {
    font-size: 2.77em;

  }
  h1, h2, h3, h4, h5 {
    color: #2082ac;
  }
  pre {
    padding: 8px 16px;
    box-shadow: none;
    code {
      background: none;
    }
  }
  section img {
    border: 0px;
    .icons {
      background: none;
      box-shadow: none;
    }
  }
  p {
    margin: 0;
  }

  pre {
    font-size: 0.4em;
  }
}

img .responsive  {
  height: auto;
  max-width: 100%;
}

.highlighted {
  background: yellow;
}

